/* Name: Pratham Bhatiya 
Student Number: 8960915 */

/*body style*/
body {
    font: 1.125rem Arial; 
    color: #333; 
    background-color: #f0f0f0; 
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.5fr 1.5fr 0.2fr;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main aside"
    "footer footer footer footer";
}

/*header footer style*/
header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

header h1,footer {
    border: 0.1875rem solid #000; 
    border-radius: 0.625rem; 
    margin: 0.1875rem; 
    padding: 0.375rem;
    background: linear-gradient(to right, #ffafbd, #ffc3a0); 
}

h1,h2 {
    font-variant: small-caps;
}

header h1 {
    text-align: center;
}



footer p {
    font-size: 0.9375rem;
    color: black;
    font-weight: bold; 
}

/*main style*/
main {
    grid-area: main;
    padding: 0.1875rem; 
    margin: 0.9375rem; 
}

/*aside style*/
aside {
    border: 0.1875rem solid #000; 
    grid-area: aside;
    padding: 0.1875rem; 
    margin: 0.9375rem; 
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul li {
    list-style-type: none;
    line-height: 1.5;
    text-align: left;
}

li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger ;
}

a:hover {
    color: red; 
}

/* Image style */
section figure img {
    border: 0.1875rem solid #000;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    margin-right: 0.9375rem;    
    margin-left: 0px;
    float: left;
}

figure figcaption {
    font-weight: bold;
    font-variant: small-caps;
}

/* quote style*/
section q {
    display: flex;
    flex-direction: row;
    padding: 0.125rem; 
    font-family: cursive;
    font-style: italic;
    font-size: 1.25rem; 
    color: #800080; 
}

.quotes h2 {
    clear: both;
}

/* style for nav */
.container {
    grid-area: nav;
    text-align: center;
    border: 0.1875rem solid #000; 
    border-radius: 0.625rem; 
    margin: 0.1875rem; 
    background-color: #fff; 
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    padding: 0.3125rem 0.9375rem; 
    color: #000;    
}

/* Dropdown menu */
nav ul li ul {
    display: none;
    background-color: #d3d3d3; 
    position: absolute;
    box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
}

nav ul li:hover ul {
    display: block;
    width: 12.5rem; 
}

/*style for table*/
table {
    border-collapse: collapse;
    min-width: 25rem; 
    border: 0.125rem solid #000;
    margin: 0.625rem; 
}

caption {
    text-align: left;
    margin-bottom: 0.1875rem; 
}

thead,
tr {
    background-color: #008080; 
    color: #ffffff;
    text-align: left;
    padding: 0.125rem;
}

th,
tr,
td {
    border: 0.125rem solid #000;
    padding: 0.3125rem; 
}

/*style for gallery*/
.gallery {
    width: 100%;
}

.gallery h2 {
    text-align: center;
    color: #800000; 
    font-family: sans-serif;
}

.gallery {
    display: grid;
    grid-template-columns: 17.5rem 17.5rem 17.5rem; 
    gap: 0.625rem; 
}

.gallery figure {
    margin: 0;
    position: relative;
    margin-bottom: 0.625rem; 
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery figcaption {
    color: white;
    font-family: sans-serif;
    font-size: 1rem; 
    padding: 3% 1%; 
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(128, 0, 0, 0.8); 
    width: 96%;
}

/* Clip-path for figure */
.gallery figure img {
    clip-path: polygon(1.11% 6.3%, 100% 0%, 99.66% 45.74%, 92.5% 97.97%, 1.94% 100.35%);
}

/*style for multimedia video*/
iframe {
    width: 59.375rem; 
    height: 33.4375rem; 
}

/*style for contact form*/
form{
    border: 0.125rem solid #000;
    border-radius: 0.625rem;
    padding: 1rem;
    max-width: 37.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form label {
    display: block;
    margin-bottom: 0.3125rem;
}

form input[type="email"] {
    width: 92%;
    padding: 1.25rem; 
    margin-bottom: 0.625rem; 
    border-radius: 0.3125rem; 
    border: 0.0625rem solid #ccc;
}

form input[type="text"],
form input[type="date"],
form textarea {
    width: 92%;
    padding: 1.25rem; 
    margin-bottom: 0.625rem; 
    border-radius: 0.3125rem; 
    border: 0.0625rem solid #ccc;
}

form textarea{
    box-sizing: border-box;
}

form select {
    width: 98.5%;
    padding: 1.25rem; 
    margin-bottom: 0.625rem; 
    border-radius: 0.3125rem; 
    border: 0.0625rem solid #ccc; 
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1.25rem 2.5rem; 
    border-radius: 0.3125rem; 
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #000;
}

/*style for responsive design*/
@media screen and (max-width: 56.25rem) {
    body {
        font-size: 0.9rem; 
    }
    aside {
        background-image: url('../images/background.jpg'); 
    }
}

/* Media query for larger screens */
@media screen and (min-width: 56.25rem) {
    body {
        font-size: 1.1rem;
    }
    aside {
        background-image: url('../images/background.jpeg');
    }
}
